arcorrecter
cv2
detectron2
easyocr
matplotlib
nltk
numpy
pandas
pickle
pyarabic
pytorch-lightning
re
seaborn
simpletransformers
sklearn
tensorflow
tensorflow-hub
torch
torchMetrics
transformers